In [8]:
import pandas as pd 
import numpy as np

In [12]:
#Download the data from https://openflights.org/data.html 
#Assign column names 

cols = ['Airport ID','Name','City','Country','IATA','ICAO','latitude','longitude','Altitude','Time zone','DST','Tz','Type','Source']
df_airports = pd.read_csv('https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports-extended.dat', names = cols)
df_airports.head()

,Airport ID,Name,City,Country,IATA,ICAO,latitude,longitude,Altitude,Time zone,DST,Tz,Type,Source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports

In [13]:
df_airports.describe()

         Airport ID      latitude     longitude      Altitude
count  12304.000000  12304.000000  12304.000000  12304.000000
mean    7115.829080     29.496906     -1.345041    842.881014
std     4104.831536     27.034483     84.307282   1515.654183
min        1.000000    -90.000000   -179.876999  -1266.000000
25%     3250.750000     15.008950    -77.753824     39.000000
50%     7585.500000     37.956838      6.951535    237.000000
75%    10670.250000     49.038542     48.871963    900.000000
max    13746.000000     90.000000    179.951004  14472.000000

In [14]:
df_airports.count()

Airport ID    12304
Name          12304
City          12256
Country       12304
IATA          12304
ICAO          12303
latitude      12304
longitude     12304
Altitude      12304
Time zone     12304
DST           12304
Tz            12304
Type          12304
Source        12304
dtype: int64

In [15]:
#In this project i wil be focusing on airports only

to_drop = ['port', 'unknown', 'station']
df_airports1= df_airports[~df_airports['Type'].isin(to_drop)]
df_airports1.head()
df_airports1.count()

Airport ID    9513
Name          9513
City          9465
Country       9513
IATA          9513
ICAO          9513
latitude      9513
longitude     9513
Altitude      9513
Time zone     9513
DST           9513
Tz            9513
Type          9513
Source        9513
dtype: int64

In [16]:
df_airports1.isnull().sum()

Airport ID     0
Name           0
City          48
Country        0
IATA           0
ICAO           0
latitude       0
longitude      0
Altitude       0
Time zone      0
DST            0
Tz             0
Type           0
Source         0
dtype: int64

In [17]:
#Checking null values 
df_airports1['City'].isnull()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
12274    False
12275    False
12276    False
12277    False
12278     True
12279    False
12280    False
12281    False
12282    False
12283    False
12284    False
12285    False
12286    False
12287    False
12288    False
12289    False
12290    False
12291    False
12292    False
12293    False
12294    False
12295    False
12296    False
12297    False
12298    False
12299    False
12300    False
12301    False
12302    False
12303    False
Name: City, Length: 9513, dtype: bool

In [18]:
df_airports1['City'].replace(' ', np.nan)

0                    Goroka
1                    Madang
2               Mount Hagen
3                    Nadzab
4              Port Moresby
5                     Wewak
6              Narssarssuaq
7                  Godthaab
8               Sondrestrom
9                     Thule
10                 Akureyri
11              Egilsstadir
12                     Hofn
13                  Husavik
14               Isafjordur
15                 Keflavik
16           Patreksfjordur
17                Reykjavik
18             Siglufjordur
19           Vestmannaeyjar
20       Sault Sainte Marie
21                 Winnipeg
22                  Halifax
23              St. Anthony
24                   Tofino
25                Pelly Bay
26              Baie Comeau
27               Bagotville
28               Baker Lake
29           Campbell River
                ...
12274             Oceanside
12275        Castelo Branco
12276          Ponte de Sôr
12277                  Maia
12278                   NaN
12279             Kenebetsu
12280                 Natal
12281                 Ajmer
12282                Kannur
12283               Beijing
12284                Selous
12285              Chisinau
12286         Jericoacoara
12287                  Baku
12288                 Ureki
12289             North Sea
12290              Coalinga
12291         Rostov-on-Don
12292                MANAUS
12293               Lanzhou
12294              Dunhuang
12295             Jiayuguan
12296                Harbin
12297             Manzhouli
12298                Hailar
12299               Kunming
12300                  Dali
12301               Lijiang
12302      Benguerra Island
12303              Bazaruto
Name: City, Length: 9513, dtype: object

In [19]:
df_airports1['City'].isnull().sum()

48

In [20]:
#Checking Columns datatypes, looks fine.
df_airports1.dtypes

Airport ID      int64
Name           object
City           object
Country        object
IATA           object
ICAO           object
latitude      float64
longitude     float64
Altitude        int64
Time zone      object
DST            object
Tz             object
Type           object
Source         object
dtype: object

In [21]:
#exporting Airports Data After Cleaning 

df_airports1.to_csv('/Users/noraamri/Documents/mastars  2nd semester /visualisation /Project /data/airports_cleaned.csv')

In [22]:
#Creating a new dataset of countrys and airport numbers, derived from the original dataset 
country_airports_num= df_airports1.groupby('Country').count()[['Airport ID']]
country_airports_num.head()

#Renaming a column

country_airports_num.columns = country_airports_num.columns.str.replace("Airport ID","Airports number")
country_airports_num.columns = country_airports_num.columns.str.replace("Country","Country1")
country_airports_num.to_csv('/Users/noraamri/Documents/mastars  2nd semester /visualisation /Project /data/airports_num.csv')
country_airports_num.head()

                Airports number
Country
Afghanistan                  21
Albania                       5
Algeria                      45
American Samoa                4
Angola                       26

In [23]:
country_airports_num.shape

(237, 1)